<h1>Dashboard</h1>
Welcome <%= current_user.email %> - <%= link_to "Sign out", sign_out_path, method: :delete %>

<%# Needed to delete now that we're using polymophic shouts
<%# <%= form_for(@shout) do |form| %>
<%#   <%= form.text_field :body, placeholder: "Shout here" %>
<%#   <%= form.submit "Shout!" %>
<%# <% end %>

<div id="shouts">
  <%= render @shouts %>
</div>
